* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

.header {
  background-color: black;
  color: aliceblue;
  width: 100vw;
  height: 3rem;
  justify-content: center;
  align-items: center;
  display: flex;

}

h2 {
  font-weight: 700;
  font-size: xx-large;
  padding: 1rem;

}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.2rem;
}

input {
  width: 20rem;
  margin: 0.2rem;
  height: 40px;
}

.showData {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0.2em;
  padding: 3rem;
  /* align-items: center; */
}

.showCards {
  border: 2px solid black;
  margin: 1rem;
  padding: 1rem;
  justify-content: center;
  text-align: center;

}

button {
  cursor: pointer;
  height: 40px;
  width: 5rem;
}

button:hover {
  background-color: black;
  color: white;

}
img{
  width: 100px;
  height: 150px;

}